html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #c1c1c1;
}
.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 8vh 87vh 5vh;
}
header {
  background: #00c1c1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end: 2;
}


.aside {
  background: #c10c10;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end: 3;
}
main {
  background: #c100c1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end: 3;
}
footer {
  background: #c1c100;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}